// .margin{
//     margin-left: 20%;
//     margin-top: 2%;
// }
 .item{
     margin-left: 5%;
     
    
 }

.container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
}