<mat-divider></mat-divider>
<div class="container">
  <div class="spacer"></div>
  <img src="assets/images/fracture.PNG" class="margin">
  
  <div class="item">
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Left (Lt.)
          </mat-panel-title>

        </mat-expansion-panel-header>

        <ul>
          <li>Lt. Condylar fx</li>
          <li>Lt. Coronoid fx</li>
          <li>Lt. Ramus-Angle fx</li>
          <li>Lt. Body fx</li>
        </ul>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Right (Rt.)
          </mat-panel-title>

        </mat-expansion-panel-header>

        <ul>
          <li>Rt. Condylar fx</li>
          <li>Rt. Coronoid fx</li>
          <li>Rt. Ramus-Angle fx</li>
          <li>Rt. Body fx</li>
        </ul>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Center
          </mat-panel-title>

        </mat-expansion-panel-header>

        <ul>
          <li>Symphaseal</li>
          <li>Paraymphaseal</li>
        </ul>




      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <div class="spacer"></div>
</div>