<div class="jumbotron" style="background-image: url('https://media.aofoundation.org/-/jssmedia/surgery/91/91_b21_i050.ashx?w=1330');">
  <img src="assets/images/logo-mandy.png" class="center">
  <h1 align= center class="display-3 ">Mandy</h1>
  <p align = center class="lead ">A website for prediction fracture on x-ray films</p>
  <hr class="my-4">
  <p align = center>We propose a website that can help a doctor to detect Mandibular Fracture on x-ray films</p>
  <p align = center class="lead ">
    <a class="btn btn-primary btn-lg" href="/login" role="button">Learn more</a>
  </p>
</div>
<div class ="container">
<mat-card class="example-card">
  <img mat-card-image
  src="assets/images/bony.png"
    class="img">
</mat-card>
</div>
