
.block{
    margin :5%
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 12%;
  }

  .container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
}
body { margin: 0; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, "Helvetica Neue", sans-serif; }

.img{
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.example-card{
  max-width: 100%;
  align-content: center;
}






