

<h1 align="center" style="margin-top:10%">W E L C O M E &nbsp; &nbsp;T O&nbsp;&nbsp; M A N D Y</h1>
<div>

  <div class=box>
    <div *ngIf="previewUrl">
      <img [src]="previewUrl" class="img">
    </div>
    <mat-icon class="mat-icon" *ngIf="!previewUrl">image</mat-icon>
  </div>
<!----
  <div class="input-group col-md-6" style="margin-left: 25%;">
    <div class = "custom-file">
      <input type="file"  id="inputGroupFile02 " (change)="fileProgress($event)">
      <label class="custom-file-label" *ngIf="!uploadedFilePath" for="inputGroupFile02">Choose file or Drop file here to upload</label>
      <label class="custom-file-label" *ngIf="uploadedFilePath" for="inputGroupFile02"> {{uploadedFilePath}}</label>
    </div>
  </div>
-->

  <div class="input-group col-md-6" style="margin-left: 25%;">
    <div class="custom-file">
      <input type="file" class="custom-file-input" id="inputGroupFile01"aria-describedby="inputGroupFileAddon01" (change)="fileProgress($event)">
      <label class="custom-file-label" *ngIf="!uploadedFilePath" for="inputGroupFile01">Choose file or Drop file here to upload</label>
      <label class="custom-file-label"  *ngIf="uploadedFilePath" for="inputGroupFile01">{{uploadedFilePath}}</label>   
    </div>
  </div>
  

 <!---<input type="file" name="image" (change)="fileProgress($event)">-->
  <div *ngIf="fileUploadProgress">
    <br>
    <h6 align = "center"> Upload progress: {{ fileUploadProgress }}</h6>
  </div>



</div>


<div class="row">
  <div class="col-md-6 offset-md-3">
    
    <div class="content" ng2FileDrop [uploader]="uploader" (dragenter)="fileOver($event)"
      (dragleave)="fileLeave($event)" [ngClass]="{'drop-zone-file-over': hasFileOver}">
      <div class="drop-zone-container">
        <div class="drop-zone-content">
          <br>

          <div class=box>
            <mat-icon class="mat-icon" *ngIf="!imageURL">save_alt</mat-icon>
            <p class="align" *ngIf="!imageURL">Drop files here to upload.</p>
            <img *ngIf="imageURL" class="img" [src]="imageURL" alt="images">
          </div>
        </div>
      </div>
    </div>
  
    


    <div class="block">
      <div class="spacer"></div>
      <button class="btn btn-success button" *ngIf="!navigate()" (click)="onSubmit()">Submit</button>
      <button class="btn btn-success button" *ngIf="navigate()" (click)="onResult()">{{message}}</button>
      <div class="spacer"></div>
    </div>

    <mat-divider></mat-divider>
  </div>
</div>


<h6 class="text">Locations of Mandibular Fracture</h6>
<div class="container">

  <div class="spacer"></div>
  <div>
    <mat-card class="example-card">
      <img mat-card-image src="assets/images/fracture.PNG">
    </mat-card>
  </div>

  <div class="item">
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Left (Lt.)
          </mat-panel-title>

        </mat-expansion-panel-header>

        Lt. Condylar fx
        <mat-divider></mat-divider>
        Lt. Coronoid fx
        <mat-divider></mat-divider>
        Lt. Ramus-Angle fx
        <mat-divider></mat-divider>
        Lt. Body fx

      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Right (Rt.)
          </mat-panel-title>

        </mat-expansion-panel-header>


        Rt. Condylar fx
        <mat-divider></mat-divider>
        Rt. Coronoid fx
        <mat-divider></mat-divider>
        Rt. Ramus-Angle fx
        <mat-divider></mat-divider>
        Rt. Body fx

      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Middle
          </mat-panel-title>

        </mat-expansion-panel-header>

        Symphaseal
        <mat-divider></mat-divider>
        Paraymphaseal

      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <div class="spacer"></div>


</div>