body {
    font-family: "Arial", sans-serif;
}

.dropzone {
    widows: 300px;
    height: 300px;
    border: 2px dashed #ccc;
    color: #ccc;
    line-height: 300px;
    text-align: center;
}

.dropzone.dragover{
    border-color: #000;
    color: #000;
}
.mat-icon {
  
  font-size: 100px; // Changing font-size for whole project
  
  display: flex; 
  width: 100px;
  height: 120px; 
  align-items:center; 
  justify-content: center;
  margin-left: 41%;
   
  }


.align{
    text-align: center;
}
.mat-spinner{
    
    margin:0 auto;
}
body { margin: 0; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, "Helvetica Neue", sans-serif; }

.box{
    width:80%;
    height:100%;
    border:1px  dotted #000;
    margin-bottom:4%;
    margin-left: 10%;
    
    
}


.button{
  margin:auto;
  display:block;
  margin-top:2%
}


  .container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    
}
.img{
    width: 50%;;
    height: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.block{
    margin-bottom :15px;
  }

  
 .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top:20px;
        width: 50%;
 }

 .result{
    
    text-align: center;
    
 }


::ng-deep.mat-expansion-panel{
  background-color: #EAEAE7;
}

::ng-deep.mat-expansion-panel:hover{
  background-color: white;
}
 
.spacer{
  margin-top: 50px;
  margin-bottom: 50px;
}

.item{
  margin-left: 2%;
}

.example-card{
  max-width: 100%;
  margin-top: 4%;
}

.text{
  margin-top: 4%;
  text-align: center;
}
 