<h1 align="center">W E L C O M E &nbsp; &nbsp;T O&nbsp;&nbsp; M A N D Y</h1>

<div>

  <div class="row">
    <div class="col-md-6 offset-md-3">

      <div class="content" ng2FileDrop [uploader]="uploader" (dragenter)="fileOver($event)"
        (dragleave)="fileLeave($event)" [ngClass]="{'drop-zone-file-over': hasFileOver}">
        <div class="drop-zone-container">
          <div class="drop-zone-content">
            <br>

            <!--- <div class=box *ngIf="!navigate()">-->

            <div class=box>
              <mat-icon class="mat-icon" *ngIf="!imageURL">save_alt</mat-icon>
              <p class="align" *ngIf="!imageURL">Drop files here to upload.</p>
              <img *ngIf="imageURL" class="img" [src]="imageURL" alt="images">
            </div>
           

            <mat-spinner color="warn" class="mat-spinner" *ngIf="navigate()"></mat-spinner>

            <p class="align" *ngIf="navigate()">{{message}}</p>
          </div>
        </div>
      </div>


      <div class="block">

        <button class="btn btn-success button" *ngIf="!navigate()" (click)="onSubmit()">Submit</button>
        <div class ="spacer"></div>
        <div class="result" *ngIf="!navigate()">
          <p >Would you like to see existing result? <br /><a class="nav-link" routerLink="/table">Result</a></p>
        </div>
        <button class="btn btn-success button" *ngIf="navigate()" (click)="onResult()">Result</button>
      </div>

      <mat-divider></mat-divider>
    </div>
  </div>
<h6 class="text"><b>Locations of Mandibular Fracture</b></h6>
<div class="container">

  <div class="spacer"></div>
  <div>
    <mat-card class="example-card">
      <img mat-card-image src="assets/images/fracture.PNG">
    </mat-card>
    </div>

  <div class ="item">
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Left (Lt.)
          </mat-panel-title>

        </mat-expansion-panel-header>

        Lt. Condylar fx
        <mat-divider></mat-divider>
        Lt. Coronoid fx
        <mat-divider></mat-divider>
        Lt. Ramus-Angle fx
        <mat-divider></mat-divider>
        Lt. Body fx

      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Right (Rt.)
          </mat-panel-title>

        </mat-expansion-panel-header>


        Rt. Condylar fx
        <mat-divider></mat-divider>
        Rt. Coronoid fx
        <mat-divider></mat-divider>
        Rt. Ramus-Angle fx
        <mat-divider></mat-divider>
        Rt. Body fx

      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Middle
          </mat-panel-title>

        </mat-expansion-panel-header>

        Symphaseal
        <mat-divider></mat-divider>
        Paraymphaseal

      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <div class="spacer"></div>

  
</div>