.container {
    padding: 16px;
    width: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    align-content: center;  
  }
  
  .form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: auto;
  }

.button{
  
    background-color:white;
    color:#092BA1;
}

.button:hover{ 
  
    background-color:#EAEAE7;

  }
  .example-card {
    max-width: 80%;
    align-items: center;
  }
  .img:hover {
    box-shadow: 0 0 2px 5px rgba(0, 140, 186, 0.5);
   }

   .img{
    align-items: center;
    
   }

   .align{
    display: flex;
    justify-content: center;
    align-items: center;
  }


   .spacer{
    margin-top: 50px;
    margin-bottom: 50px;
  }
   