
  .menu{
    width: 8%;
    margin: left;
  }

  .person{
    size : 200%;
   font-size: 25px;
   background-color:#DFE6ED;
   
  }
.header{
      width: 15%;  
}
.footer{
  display: block;
  width: 20%;
  
}
.power{
  font-size: 20px;
  margin-right:auto;
  text-align: center;
  
}
.button{

  color:white;
  background-color:#6CBBB3;
  margin-left : 70%
}
.sign-in{
  background-color:#DFE6ED;
  margin-right: 5%;
  color:#092BA1;

}

.block{
  margin :5%;

}

::ng-deep .mat-toolbar{
  z-index: 998;
  position: relative;
  background-color:#6CBBB3;
  box-shadow: 0 5px 5px #999;
}

.padding{
  margin-top: 8%;
  
}



