<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top nav">
  <img src="assets/images/logo-header.png" class="header">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
    aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="/upload">Upload</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/table">Result</a>
      </li>
    </ul>

  </div>


  <button *ngIf="!auth.isLoggedIn()" class="btn btn-secondary my-2 my-sm-0" type="submit" routerLink="/login">Sign
    in</button>
  <button *ngIf="auth.isLoggedIn()" [matMenuTriggerFor]="profile" mat-mini-fab class="person">
    <mat-icon>person</mat-icon>
    <mat-menu #profile="matMenu">
      <button mat-menu-item *ngIf="auth.isLoggedIn()" routerLink="/profile">Profile</button>
      <button mat-menu-item *ngIf="auth.isLoggedIn()" routerLink="" (click)="auth.logout()">Logout</button>
    </mat-menu>
  </button>


</nav>
<!---
<mat-toolbar >

  <mat-toolbar-row>
    <img src="assets/images/logo-header.png" class="header">

    <button class="button" mat-button [matMenuTriggerFor]="appMenu">
      <mat-icon aria-label="Example menu icon">menu</mat-icon>
      <mat-menu #appMenu="matMenu">

        <button mat-menu-item *ngIf="!auth.isLoggedIn()" routerLink="/register">Register</button>
        <button mat-menu-item routerLink="/">Home</button>
        <button mat-menu-item *ngIf="auth.isLoggedIn()" routerLink="/upload">Upload</button>
        <button mat-menu-item *ngIf="auth.isLoggedIn()" routerLink="/table">Result</button>

      </mat-menu>

    </button>
    <button class="sign-in" mat-button *ngIf="!auth.isLoggedIn()" routerLink="/login">
      Sign in
    </button>
    <button  *ngIf="auth.isLoggedIn()" [matMenuTriggerFor]="profile" mat-mini-fab class="person">
      <mat-icon>person</mat-icon>
      <mat-menu #profile="matMenu">
        <button mat-menu-item *ngIf="auth.isLoggedIn()" routerLink="/profile">Profile</button>
        <button mat-menu-item *ngIf="auth.isLoggedIn()" routerLink="" (click)="auth.logout()" >Logout</button>
      </mat-menu>
    </button>

   
  </mat-toolbar-row>

</mat-toolbar>

-->


<router-outlet></router-outlet>




<footer class="navbar navbar-expand-lg navbar-dark bg-primary padding ">
  <p class="navbar-brand" >Powered by</p>
  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <p class="nav-link" >Angular</p>
      </li>
      <li class="nav-item active">
        <p class="nav-link" >Flask</p>
      </li>
      <li class="nav-item active">
        <p class="nav-link" >Tensorflow</p>
      </li> 
    </ul>
    <p class="navbar-brand">@Copyright 2020|MUICT Students</p>
  </div>
</footer>

