<mat-toolbar >

  <mat-toolbar-row>
    <img src="assets/images/logo-header.png" class="header">

    <button class="button" mat-button [matMenuTriggerFor]="appMenu">
      <mat-icon aria-label="Example menu icon">menu</mat-icon>
      <mat-menu #appMenu="matMenu">

        <button mat-menu-item *ngIf="!auth.isLoggedIn()" routerLink="/register">Register</button>
        <button mat-menu-item routerLink="/">Home</button>
        <button mat-menu-item *ngIf="auth.isLoggedIn()" routerLink="/upload">Upload</button>
        <button mat-menu-item *ngIf="auth.isLoggedIn()" routerLink="/table">Result</button>

      </mat-menu>

    </button>
    <button class="sign-in" mat-button *ngIf="!auth.isLoggedIn()" routerLink="/login">
      Sign in
    </button>
    <button  *ngIf="auth.isLoggedIn()" [matMenuTriggerFor]="profile" mat-mini-fab class="person">
      <mat-icon>person</mat-icon>
      <mat-menu #profile="matMenu">
        <button mat-menu-item *ngIf="auth.isLoggedIn()" routerLink="/profile">Profile</button>
        <button mat-menu-item *ngIf="auth.isLoggedIn()" routerLink="" (click)="auth.logout()" >Logout</button>
      </mat-menu>
    </button>

   
  </mat-toolbar-row>

</mat-toolbar>




<router-outlet></router-outlet>

<footer class="block">
  <p class="power"><b>Powered by</b></p>
  <img src="assets/images/logo-footer.png" class="footer">
</footer>