
  .menu{
    width: 8%;
    margin: left;
  }

  .person{
    size : 200%;
   font-size: 25px;
   background-color:#DFE6ED;
   
  }
.header{
 
  width: 20%;
  
  
}
.footer{
  display: block;
  margin-left: auto;
  margin-right: 30%;
  width: 30%;
  float: right;
}
.power{
  font-size: 20px;
  float:left;
  margin-right:auto;
  margin-left: 30%;
  
}
.button{

  color:white;
  background-color:#6CBBB3;
  margin-left : 70%
}
.sign-in{
  background-color:#DFE6ED;
  margin-right: 5%;
  color:#092BA1;

}

.block{
  margin :5%
}

::ng-deep .mat-toolbar{
  z-index: 998;
  position: relative;
  background-color:#6CBBB3;
  box-shadow: 0 5px 5px #999;
  
  
  
}



