<div>

    <div class="container">
        <mat-card class="login-box">
          <mat-card-header>
            <!-- Login -->
          </mat-card-header>
          <mat-card-content>
            <label for="email"><b>Email</b></label>
            <input type="text" placeholder="Enter Email" name="email" required>
        
            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="psw" required>
          </mat-card-content>
          <mat-card-actions>
            <button type="submit" class="loginbtn">Login</button>
            <div class="container signin">
              <p>Don't have an account? <br /><a href="#">Sign in</a></p>
              </div>
          </mat-card-actions>
        </mat-card>
      </div>
</div>