<h1 class="text-center" style="margin-top:10%">PROFILE</h1>
<div class="align">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{ auth.getUserDetails()?.identity.first_name }}</mat-card-title>
      <mat-card-subtitle>{{ auth.getUserDetails()?.identity.last_name }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image
      src="https://i0.wp.com/cdn-prod.medicalnewstoday.com/content/images/articles/317/317994/female-doctor-surrounded-by-men.jpg?w=1155&h=1541"
      alt="Photo of a Shiba Inu">
    <mat-card-content>
      <button mat-button style=" background-color: #6CBBB3;">Active</button>
      <div class="float">
        <mat-icon>email</mat-icon>
        <mat-icon>calls</mat-icon>
        <mat-icon>forum</mat-icon>
      </div>
    </mat-card-content>
  </mat-card>

</div>