.text-center{
    text-align: center;
}
.mat-tab-group {
    margin-bottom: 48px;
  }
  body { margin: 0; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, "Helvetica Neue", sans-serif; }
  
  .example-card {
    max-width: 40%;
  }
  
  .example-header-image {
    background-image: url('https://i0.wp.com/cdn-prod.medicalnewstoday.com/content/images/articles/317/317994/female-doctor-surrounded-by-men.jpg?w=1155&h=1541');
    background-size: cover;
  }

  .align{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .float{
      float:right;

  }