<button mat-flat-button class="button-back" (click)="onBack()">
  <mat-icon>reply</mat-icon>Back
</button>
<h1 align="center">Annotate</h1>

<div class="margin">
<p align="center">Annotate Fracture Location</p>
<button mat-mini-fab class="undo"(click)="onDelete()"><mat-icon>delete</mat-icon></button>

<div class="canvas-container">
  <canvas #canvas></canvas>
</div>
</div>

<p align="center">Annotate Fracture Name</p>

<mat-form-field class="form">
  <mat-label>Select your fracture name</mat-label>
  <mat-select [formControl]="fractureControl" panelClass="panel" [(ngModel)]="selectedName" (ngModelChange)="onNameSelection()">
    <mat-optgroup *ngFor="let group of fractureGroups" [label]="group.name" [disabled]="group.disabled">
      <mat-option *ngFor="let fracture of group.fracture" [value]="fracture.value">
        {{fracture.viewValue}}
      </mat-option>
    </mat-optgroup>
  </mat-select>
</mat-form-field>

<button mat-raised-button class="confirm" (click)="onSubmit()">Confirm</button>